@font-face {
   font-family: myFirstFont;
   
}




*{
     
    margin: 0px;
    padding: 0px;
    font-family: 'futura', 'helvetica';
/*   font-family: 'myFirstFont';*/
    
}

.main{
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}

.main #home {
    
    width: 100%;
   height: 100vh;
    background-color: #004679;
/*    opacity: 0.6;*/
    background-image: url(images/backhome.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    
}

.main #home h1{
    
    color: white;

    
}


header{
    
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: 9000;
    pointer-events: none;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items: center;
    
    
/*    margin: 15px;*/
    
}

header .topMenu{
    
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
     pointer-events: visible ;
    !important;
    background-color: rgba(0,0,0,0.3);
/*    background-color: rgba(0,0,0,0.8);*/
    
    
}

header .topMenu .menuIcon{
    
    
 display: flex;
 flex-flow: row nowrap;
    
}

header a{
    color: white;
    text-decoration: none;
}

header .topMenu .menuIcon img{ 
 width: 100%;
}

header .downMenu{
    
    margin-bottom: 10px;
    pointer-events: visible ;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}

header .downMenu .iconsDownMenu a {
    margin: 5px;
    width: 10%;
    
}

header .downMenu .iconsDownMenu a img {
    height: 20px;
}

header .downMenu .mouseDownMenu{
    text-align: center;
    display: flex;    
    flex-flow: row nowrap;
    align-items: center;
    color: white;
    
}
header .downMenu .mouseDownMenu p{
    margin: 5px;
}

header .downMenu .mouseDownMenu img{
    height: 40px;
}



header p{
    color: aliceblue;
}



.textBanner{
    
    width: 70%;
    
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
/*    align-items: center*/
    
}

.textBanner h1{
    
    font-size: 4em;
    
}

.textBanner .line{
    width: 2px;
    
    background-color: white;
}
.textBanner .textBanner_left{
    text-align: right;
    padding: 10px;
}

.textBanner .textBanner_right{
    
/*    height: 100px;*/
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 10px;
    
}
.textBanner .textBanner_right p{
    line-height: 30px;
}

/*---------------portafolio---------------*/

#portfolio{
    
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    align-items: center;
}
#portfolio>img {
    width: 30%;
    margin: 10px;
}

.selector_container{
    width: 100%;
    height: 80vh;
/*    background-color: gray;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    
}

.list_container{
    
/*    overflow: scroll;*/
/*        overflow-y:scroll;*/

    width: 90%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
/*    background-color: gray;*/
    
}

.list_container p{
    color: white;
    text-align: center;
    
}
.list_container img{
    
    width: 100%;
    height: 100%;
/*      height: auto;*/
    
}
/*-------------flip---------*/
.flip-box {
    
  background-color: transparent;
/*  width: 300px;*/
    width: 30%;
   height: 200px;
/*  border: 1px solid #f1f1f1;*/
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-box-inner {
/*  position: relative;*/
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: black;
  color: white;

    border: 1px solid #f1f1f1;
  transform: rotateY(180deg);
/*    padding: 5px;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.flip-box-back img {
    width: 10%;
    height: 100%;
    margin-left: 5px;
    
    
}

.flip-box-back .iconviewp {
    color: white;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding:10px 5px;
    border: 1px solid #f1f1f1;    
    border-radius: 5px;
    transition: 0.5s;
}
.flip-box-back .iconviewp:hover {
    transition: 0.5s;
    background-color: darkslategray;
    
}


.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-back {
  transform: rotateX(180deg);
}


/*---------------about---------------*/
#about-me{
    
    width: 100%;
    height: 100vh;
    background-color: black;
    
}

.bg_images{
    
    
   width: 100%;
   height: 60vh;
    
/*    opacity: 0.6;*/
    background-image: url(images/bg_about.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.bg_images >img{
    width: 30%;
    
}

.bg_images .info{
    
    width: 60%;
    
    display: flex;
    flex-flow: row nowrap;
justify-content: center;
    align-items: center;
    color: white;
    
    
}



.bg_images .info .networks{
    
    
    display: flex;
    flex-flow: column nowrap;
    
}

.bg_images .info .networks img{
    margin: 5px;
    
    
    
}

.bg_images .info p {
    width: 60%;
    margin: 5px;
    
    
}


.skills_container{
    height: 40vh;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}
.skills_container .skill{
    
    border-left: solid;
    border-left-color: white;
    border-left-width: 1px;
    padding-left: 10px;
    display: inline-block;
    width: 40%;
}
.skills_container .skill img{
/*    height: 40px;;*/
    margin: 5px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;    
    transition: 0.5s;
    
}

.skills_container .skill img:hover{
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1.5;    
        transition: 0.5s;

}

/*---------------contact---------------*/

#contact{
    width: 100%;
    height: 100vh;
    color: white;
    
/*    background-color: #004679;*/
/*    opacity: 0.6;*/
    background-image: url(images/backhome.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    
}

.thanks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.thanks p{
    font-size: 2em;
    text-align: center;
    margin: 10px;
    
}

.thanks img{
    width: 80%;
    
    margin: 10px;
    
}

.contact_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
/*    align-items: center;*/
}

.contact_container .line{
    
    width: 2px;
    background-color: white;
    
}

.textContact{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.textContact a{
    
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    
    margin: 10px;
}

.textContact p{
    margin: 10px;
    
}

.textContact .networks{
    margin: 10px;
    
}

.textContact .networks img{
    margin: 5px;
    
}

#contact>p{
    text-align: center;
    margin: 15px;
    
}
#contact>img{
    width: 50px;
    
}
